<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>我的个人主页</title>
</head>
<body>
    <div id="header">
        <h1>Hello World</h1>
    </div>
    <div id="skills"></div>
    <div id="project"></div>
    <div id="contact"></div>
    <div id="top"></div>

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>