<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>我的个人主页</title>
</head>
<body>
    <div id="header">
        <h1>Hello World</h1>
    </div>
    <div id="experience">
        <div class="wrapper">
            <div id="study">
                <h2 class="title">Study</h2>
                <ul>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                </ul>
            </div>
            <div id="skills">
                <h2 class="title">Skills</h2>
                <div id="progress">
                    <h3>HTML</h3>
                    <div class="progress">
                        <div class="html"></div>
                    </div>
                    <h3>CSS</h3>
                    <div class="progress">
                        <div class="css"></div>
                    </div>
                    <h3>JAVASCRIPT</h3>
                    <div class="progress">
                        <div class="js"></div>
                    </div>
                    <h3>PHP</h3>
                    <div class="progress">
                        <div class="php"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="project">
        <div class="wrapper">
            <div id="design">
                <div class="icon icon1"></div>
                <h2 class="title">THE BEST DESIGN</h2>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem Ipsum passages containing of Letraset sheets
                </div>
            </div>
            <div id="support">
                <div class="icon icon2"></div>
                <h2 class="title">THE BEST SUPPORT</h2>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem Ipsum passages containing of Letraset sheets
                </div>
            </div>
            <div id="solution">
                <div class="icon icon3"></div>
                <h2 class="title">THE BEST SOLUTIONS</h2>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem Ipsum passages containing of Letraset sheets
                </div>
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="wrapper">
            <h2>Contact Us</h2>
            <form action="">
                <div class="left">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </div>
                <div class="right">
                    <textarea name="" id="contact-text" cols="30" rows="10"></textarea>
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </div>
    <div id="top"></div>

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>