<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>我的个人主页</title>
</head>
<body>
    <div id="header">
        <h1>Hello World</h1>
    </div>
    <div id="experience">
        <div class="wrapper">
            <div id="study">
                <h2 class="title">Study</h2>
                <ul>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                    <li>
                        <span class="conent">lorem ...</span>
                        <span class="date">(2016-10-13)</span>
                    </li>
                </ul>
            </div>
            <div id="skills">
                <h2 class="title">Skills</h2>
                <div id="progress">
                    <h3>HTML</h3>
                    <div class="progress">
                        <div class="html"></div>
                    </div>
                    <h3>CSS</h3>
                    <div class="progress">
                        <div class="css"></div>
                    </div>
                    <h3>JAVASCRIPT</h3>
                    <div class="progress">
                        <div class="js"></div>
                    </div>
                    <h3>PHP</h3>
                    <div class="progress">
                        <div class="php"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="project"></div>
    <div id="contact"></div>
    <div id="top"></div>

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>