/* css 重置开始 */
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/* css 重置结束 */

/* 定义字体 */
/*
@font-face {*/
    /*font-family: 'diyfont';*/
    /*src: url('diyfont.eot'); !* IE9+ *!*/
    /*src: url('diyfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('diyfont.woff') format('woff'), !* chrome、firefox *!*/
    /*url('diyfont.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
    /*url('diyfont.svg#fontname') format('svg'); !* iOS 4.1- *!*/
/*}*/
@font-face {
    font-family: 'Nunito-Bold';
    src: url('/fonts/Nunito-Bold.ttf') format('truetype');
}


/* 定义字体 */

/* header开始  */
#header{
    height: 520px;
    background: #deecdf url(/images/p1.png) no-repeat center;
    position: relative;
}
#header h1{
    width: 200px;
    text-align: center;
    font-family: "Nunito-Bold";
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 100px;
}
#top{
    width: 40px;
    height: 26px;
    background: #f00 url(/images/to-top2.png) no-repeat center;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    display: none;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}

#experience{
    height: 400px;
}
#experience .wrapper{
    height: 400px;
    /*background: #cccccc;*/
}
#study, #skills{
    width: 585px;
    height: 400px;
}
#study{
    float: left;
    margin-top: 30px;
}
#experience .title{
    font-family: "Nunito-Bold";
    font-size: 40px;
}
#study ul{
    width: 585px;
    height: 470px;
    margin-top: 20px;
}
#study li{
    width: 565px;
    height: 50px;
    font-size: 20px;
    margin-right: 20px;
}
#study .conent{
    float: left;
}
#study .date{
    float: right;
    color: #ddd;
}
#skills{
    float: right;
    margin-top: 30px;
}
#skills .progress{
    width: 100%;
    height: 30px;
    /*background: rgb(245, 245, 245);*/
    background: #dddddd;
    border-radius: 5px;
}

#progress h3{
    margin-top: 10px;
}
#progress div{
     margin-top: 10px;
}
#progress .html{
    width: 40%;
    height: 100%;
    background: #deecdf;
    border-radius: 5px;

}
#progress .css{
    width: 20%;
    height: 100%;
    background: #ACB5B8;
    border-radius: 5px;

}
#progress .js{
    width: 60%;
    height: 100%;
    background: #78B3AE;
    border-radius: 5px;

}
#progress .php{
    width: 80%;
    height: 100%;
    background: #8C9D82;
    border-radius: 5px;

}
/* header结束  */

/* project开始  */
#project{
    height: 260px;
}
#project .wrapper{
    height: 260px;
}
#design, #support, #solution{
    width: 390px;
    height: 260px;
    float: left;
    text-align: center;
}
#project .icon{
    width: 64px;
    height: 64px;
    margin-left: 163px;
    background-repeat: no-repeat;
    background-image: url(/images/img-sprite.png);
}
#project .icon1{
    background-position: 0 0;
}
#project .icon2{
    background-position: -64px 0;
}
#project .icon3{
    background-position: -128px 0;
}
#project h2{
    margin-top: 20px;
}
#project .content{
    margin-top: 20px;
    line-height: 30px;
    color: rgb(156, 166, 157);
}
/* project结束  */

/* contact开始  */
#contact{
    height: 450px;
    background: #deecdf;
}
#contact .wrapper{
    height: 450px;
}
#contact h2{
    font-family: "Nunito-Bold";
    text-align: center;
}
#contact .left, #contact .right{
    width: 585px;
    height: 450px;
    float: left;
}
#contact .left input{
    width: 90%;
    height: 76px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(124, 161, 127);
    margin-top: 20px;
    background: transparent;
}
#contact-text {
     width: 100%;
     height: 244px;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(124, 161, 127);
     margin-top: 20px;
     background: transparent;
 }
#contact .right input{
    width: 180px;
    height: 50px;
    background: rgb(57, 59, 58);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
/* contact结束  */














